.TableContainer {
  text-align: left;
  overflow: hidden;
  width: 100%;
  display: table;
  margin-top: 30px;
  margin-bottom: 30px;
}

.TableContainer table {
  width: 100%;
}

.TableContainer thead {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  color: #ffffff;
}

.TableContainer td {
  font-size: 1em;
}

.TableContainer td,
.TableContainer th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
}

/* Background-color of the odd rows */
.TableContainer tr:nth-child(odd) {
  background-color: #323c50;
}

/* Background-color of the even rows */
.TableContainer tr:nth-child(even) {
  background-color: #2c3446;
}

.TableContainer th {
  background-color: #1f2739;
}

.TableContainer td:first-child {
  color: #ffffffa1;
}

.TableContainer thead tr th:nth-child(odd) {
  color: #d10606a1;
}
.TableContainer thead tr th:nth-child(2),
.TableContainer thead tr th:nth-child(3) {
  min-width: 250px;
 }

.TableContainer tr:hover {
  background-color: #464a52;
  box-shadow: 0 6px 6px -6px #0e1119;
}

.TableContainer td:hover {
  background-color: #12688a;
  color: #403e10;
}

@media (max-width: 600px) {
  .TableContainer td:nth-child(2),
  .TableContainer th:nth-child(2),
  .TableContainer td:nth-child(3),
  .TableContainer th:nth-child(3) {
    display: none;
  }
}

@media (max-width: 800px) {
  .TableContainer td:nth-child(3),
  .TableContainer th:nth-child(3) {
    display: none;
  }
}

.selectedline td {
  background-color: #ee5f0c;
  box-shadow: 0 6px 6px -6px #0e1119;
}

.th-category {
  color: rgb(24, 116, 177);
  font-style: italic;
}
