.TableContainer {
  text-align: left;
  overflow: hidden;
  width: 100%;
  display: table;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* 🐶 Cible <table> et met une largeur de 100%*/
/* 🤖
.TableContainer table{
  width: 100%;
} 
*/

/* 🐶 Cible <thead> et applique les proprité suivante 
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  color: #ffffff;
*/

/* 🐶 Cible <td> et th et applique les proprité suivante 
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
*/

/* 🐶 Cible <tr> et applique les proprité suivante
 background-color: #323c50;
 uniquement sur les lignes impaires
 et 
 background-color: #2c3446; sur les ligne paires
  🤖 tr:nth-child
  📑 nth-child https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child
  📑 even odd rules : https://www.w3.org/Style/Examples/007/evenodd.en.html
 */

/* 🐶 Cible <th>  et applique les proprité suivante 
   background-color: #1f2739;
*/

/* 🐶 Cible <thead> <tr> et <th> et applique les proprité suivante 
   color: #d10606a1;
   uniquement sur les ligne impaires
*/

/* 🐶 Cible le survole d'une ligne du tableau
   background-color: #464a52;
   box-shadow: 0 6px 6px -6px #0e1119;
*/

/* 🐶 Cible le survole d'une celulle du tableau
  background-color: #12688a;
  color: #403e10;
*/

/* 🐶 utilise les média query pour masquer les colonnes "debut" et "fin"
 du tableau en dessous de 600px
 📑 https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries
*/

/* 🐶 utilise les média query pour masquer la colonne fin
 du tableau en dessous de 800px
 📑 https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries
*/

/* 🐶 creer une classe 'selectedline' que l'on appliquera sur les ligne <tr>
 qui cible <td> et applique 
  bbackground-color: #ee5f0c;
  box-shadow: 0 6px 6px -6px #0e1119;
*/

